body {
    user-select: none;
    background-color: #ffffff;
}

canvas {
    position: absolute;
}

#background {
    background-color: #2a2a2a;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 0;
}

#backgroundCanvas {
    z-index: 1;
}

#mainCanvas {
    z-index: 2;
}

#buttonCanvas {
    z-index: 3;
}

#draggingCanvas {
    z-index: 4;
}

button {
    float:right;
}